    /* Responsive */
   /* @media(max-width:768px){
      .hero h1 { font-size: 2rem; }
      .hero p { font-size: 1.2rem; }
    }*/

    /* Móvil */
@media (max-width: 768px) {}

/* Tablet */
@media (max-width: 1024px) {}

/* Escritorio grande */
@media (min-width: 1200px) {}


.section {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .section {
    flex-direction: column;
  }
}
